[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    */staticfiles/*,
    */media/*,
    .venv,
    venv,
    env,
    build,
    dist,
    *.pyc,
    *.egg-info,
    .tox,
    .eggs
max-complexity = 10
ignore = E203, E266, E501, W503, F403, F401
per-file-ignores =
    __init__.py:F401
    settings.py:E501
